* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: Arial;
background: #f5f5f5;
}

header {
background: #800000;
color: white;
padding: 20px;
text-align: center;
}

nav ul {
display: flex;
justify-content: center;
gap: 20px;
list-style: none;
}

nav a {
color: white;
text-decoration: none;
}

section {
background: white;
padding: 20px;
margin: 20px;
border-radius: 10px;
}

img {
width: 100%;
max-width: 400px;
margin-top: 10px;
}

table {
width: 100%;
border-collapse: collapse;
}

th {
background: #800000;
color: white;
}

td, th {
padding: 10px;
border: 1px solid #ccc;
}

form {
display: flex;
flex-direction: column;
gap: 10px;
}

button {
background: #800000;
color: white;
border: none;
padding: 10px;
}
